#self-video {
	width: 140px;
	padding: 0px;
	border-radius: 16px;
	border-style: solid;
	border-width: 0px;
	transform: scale(-1, 1);
}

.name-input {
	border: none;
	width: 140px;
	padding: 8px;
	font-size: 16px;
	line-height: 16px;
}

.self-video-container {
	gap: 4px;
}

.selfvideo-stream-controls {
	position: absolute;
	top: 0;
	width: 140px;
	margin-left: 3px;
	border-radius: 16px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
